.add-bus {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.add-bus-form {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 80px;
  justify-content: space-around;
}

.distance-date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.add-trip-distanceinput {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 1px 1px 4px whitesmoke;
}

.add-trip-datepicker {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 1px 1px 4px whitesmoke;
}

.passenger-radio-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.calculate-button-container {
  padding: 20px;
}

.add-car-calculate-button {
  width: 210px;
  height: 47px;
  margin: 10px;
  padding: 10px;
  background-color: var(--color-green);
  border-radius: 25px;
  font-family: "Helvetica Neue", sans-serif;
  border: none;
}

.add-car-addtrip-button {
  width: 210px;
  height: 47px;
  margin: 10px;
  background-color: var(--color-purple);
  border-radius: 25px;
  font-family: "Helvetica Neue", sans-serif;
  border: none;
}

.add-car-emission-paragraph {
  color: var(--color-white);
}
