.add-car {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.add-car-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.distance-date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.add-car-trip-distanceinput {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 2px 2px 4px whitesmoke;
}

.add-car-trip-datepicker {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 2px 2px 4px whitesmoke;
}

.add-car-trip-select {
  margin: 20px;
  width: 200px;
  height: 30px;
}

.select-box-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.select-input {
  padding: 20px;
  width: 300px;
  padding: 0px;
  box-shadow: 2px 4px 1px;
}

.estimate-add-button-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  position: relative;
  align-items: center;
  top: 270px;
}

.add-car-emission-paragraph {
  color: var(--color-white);
}

.back-button-wrapper {
  padding-top: 40px;
}
