.add-flight {
  display: flex;
  flex-flow: column wrap;
}
.add-flight-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 80px;
  align-items: center;
}

.passenger-date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.add-flight-passengers {
  text-indent: 4px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  width: 150px;
  box-shadow: 2px 2px 4px;
}

.add-flight-datepicker {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 2px 2px 4px;
}

.select-box-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.add-flight-airport-input {
  margin: 20px;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: none;
  text-indent: 4px;
  box-shadow: 2px 4px 4px;
}

.estimate-add-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 270px;
}

.add-flight-addtrip-button {
  width: 210px;
  height: 47px;
  margin: 10px;
  background-color: var(--color-purple);
  border-radius: 25px;
  font-family: "Helvetica Neue", sans-serif;
  border: none;
}

.add-flight-emission-paragraph {
  color: var(--color-white);
}

.select-class {
  padding: 20px;
  width: 250px;
  padding: 0px;
  box-shadow: 2px 4px 4px;
}
