.add-car-trip-form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.distance-date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.add-car-trip-distanceinput {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 2px 2px 4px;
}

.add-car-trip-datepicker {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 2px 2px 4px;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
}

.select-class {
  padding: 20px;
  width: 310px;
  padding: 0px;
  box-shadow: 2px 4px 4px;
}

.add-car-calculate-button {
  width: 210px;
  height: 47px;
  margin: 10px;
  background-color: var(--color-green);
  border-radius: 25px;
  font-family: "Helvetica Neue", sans-serif;
  border: none;
}

.add-car-addtrip-button {
  width: 210px;
  height: 47px;
  margin: 10px;
  background-color: var(--color-purple);
  border-radius: 25px;
  font-family: "Helvetica Neue", sans-serif;
  border: none;
}

.add-car-emission-paragraph {
  color: var(--color-white);
}
