.Header {
  padding: 20px;
}

.add-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.filter-button-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  width: 100%;
  justify-content: center;
  /* z-index: 2; */
}
