.add-train {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.add-train-form {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 80px;
  justify-content: space-around;
}

.distance-date-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}

.add-trip-distanceinput {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 1px 1px 4px whitesmoke;
}

.add-trip-datepicker {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 1px 1px 4px whitesmoke;
}
.train-passenger-input {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 1px 1px 4px whitesmoke;
}

.passenger-radio-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.radio-text {
  color: whitesmoke;
}

.calculate-button-container {
  padding: 20px;
}

.add-car-emission-paragraph {
  color: var(--color-white);
}
