.Header {
  padding: 20px;
}

.green-layer {
  position: fixed;
  top: 0px;
  height: 70px;
  width: 100%;
  z-index: 2;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(
    90deg,
    rgba(6, 104, 101, 1) 0%,
    rgba(16, 124, 104, 1) 100%
  );
}

.add-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* z-index: 2; */
}
