.trip-item {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  padding: 1em;
  height: 80px;
  width: 300px;
  color: whitesmoke;
  border-radius: 50px;
  background: linear-gradient(145deg, #055f5b, #06716c);
  box-shadow: 20px 20px 60px #055a56, -20px -20px 60px #077a74;
  justify-content: space-between;
  text-align: left;
}

.trip-item-date {
  align-self: left;
  text-indent: 5px;
  font-size: 14px;
  padding-right: 10px;
}

.text-container {
  display: flex;
  flex-grow: 1.5;
  min-width: 200px;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.paragraph {
  font-weight: 500;
  font-size: 0.75rem;
}

.trip-item-delete {
  flex-grow: 1;
  font-size: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* h3 {
  font-size: 14px;
} */

/* .trip-item-list {
  display: flex;
  flex-flow: column wrap;
  list-style-position: outside;
  /* position: fixed;
  /* right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em; */
