.empty-state-add-button {
  width: 200px;
  height: 47px;
  margin: 10px;
  background-color: #3ab19c;
  border-radius: 25px;
  border: none;
  transition: background-color 0.1s;
  transition: color 0.2s ease-out;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.empty-state-add-button:active {
  background-color: #077a74;
  color: whitesmoke;
}

.empty-plus-icon {
  font-size: 30px;
  color: whitesmoke;
}
