.background-container {
  position: fixed;
  top: 0px;
  height: 70px;
  width: 100%;
  z-index: 2;
  border-radius: 0 0 20px 20px;
  background: #056865;
}

.header {
  height: 70px;
  padding: 20px;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 3;
  border-radius: 0 0 20px 20px;
  justify-content: center;
  width: 100%;

  background: linear-gradient(
    180deg,
    rgba(6, 104, 101, 0.2) 0%,
    rgb(238, 245, 244, 0.2) 50%
  );
}

.h1-class {
  color: #fff0f5;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 600;
}
