.summary-card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  margin: 20px;
  /* background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 8px var(--color-white); */
  color: whitesmoke;
  border-radius: 50px;
  background: linear-gradient(145deg, #055f5b, #06716c);
  box-shadow: 20px 20px 60px #055a56, -20px -20px 60px #077a74;
  justify-content: space-evenly;
  align-items: center;
}

.period-select-box {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-indent: 4px;
  box-shadow: 1px 1px 4px whitesmoke;
}
