.trip-item {
  display: flex;
  flex-direction: row;
  /* height: 100px; */
  border-radius: 10px;
  width: 280px;
  background-color: var(--color-white);
  color: var(--color-blue);
  box-shadow: 2px -2px 4px var(--color-white);
  animation: move-up 1s ease-in-out 1;
}

@keyframes move-up {
  from {
    transform: translateY(500px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0px);
    opacity: 0.9;
  }
}

.trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.trip-item-delete {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 20px;
}

.trip-item-date {
  align-self: left;
  text-indent: 5px;
}

.paragraph {
  font-size: 1.2rem;
}
