@import "./styles/color.css";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  position: relative;
  display: grid;
  /* font-family: "Courier New", Courier, monospace; */
  grid-template-columns: [width] 100vw;
  grid-template-rows: [main] auto;
  /* background: rgb(6, 104, 101); */
  background: linear-gradient(
    90deg,
    rgba(6, 104, 101, 1) 0%,
    rgba(16, 124, 104, 1) 100%
  );
}

.main-content {
  grid-row: main;
  overflow-y: scroll;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.9);
  /* background: rgb(6, 104, 101); */
  background: linear-gradient(
    90deg,
    rgba(6, 104, 101, 1) 0%,
    rgba(16, 124, 104, 1) 100%
  );

  align-items: center;
}

h1 {
  color: var(--color-white);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
