@import "./styles/color.css";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: [width] 100vw;
  grid-template-rows: [main] auto [footer] 60px;
}

.main-content {
  grid-row: main;
  overflow-y: scroll;
  background-color: var(--color-blue);
  align-items: center;
}

.Footer {
  grid-row: footer;
  background-color: var(--color-blue);
}
